* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: #0a0a0b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

.container {
  max-width: 120rem;
  height: 70rem;
  margin: 0 auto;
}

.navbar {
  margin-top: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a0b;
}

.navbar__logo {
  font-size: 2rem;
  color: #d9d9d9;
}

.navbar__menu {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.navbar__link {
  font-size: 2rem;
  text-decoration: none;
  color: #898989;
}

.btn {
  background-color: #fbe850;
  border: none;
  font-family: "Prata", serif;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
}

.hero {
  margin-top: 4.8rem;
}

.hero-box {
  width: 60%;
}

.hero__title {
  color: #ffffff;
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 1.4;
}

.hero__description {
  color: #898989;
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 2.4rem;
}

.logos {
  margin-top: 6.4rem;
  display: flex;
  justify-content: space-between;
}

.portfolio-grid {
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
}

.portfolio-grid__link {
  margin-top: 2.4rem;
  font-family: "Prata", serif;
  font-size: 3.6rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.portfolio-grid__description {
  margin-top: 1.6rem;
  font-size: 2rem;
  color: #898989;
}
